/// {{description}}
pub trait {{name | title}}Service {
{%- for name, cmd in cmds|items %}
   /// {{cmd.description}}
   ///
   {%- for arg_name, arg in cmd.arguments|items %}
   /// `{{arg_name}}`: {{arg.description}}
   {%- endfor %}
   {%- if cmd.result -%}
   ///
   /// Returns: {{cmd.result.description}}
   {% endif %}
   fn {{name}}(&self, 
   {%- for arg_name, arg in cmd.arguments|items %}
      {{arg_name}}: {{arg.arg.type|typename}},
   {%- endfor %}
   ) -> ::everestrs::Result<{%- if cmd.result -%}
      {{cmd.result.arg.type|typename}}
   {%- else -%}
      ()
   {%- endif -%}>;
{% endfor %} 
}

