{% for name, type_module in type_module.children | items %}
pub mod {{ name }} {
{% include "type_module" %}
}
{% endfor %}

{% for object in type_module.objects %}
#[derive(Debug, Clone, serde::Serialize, serde::Deserialize)]
pub struct {{ object.name }} {
{% for p in object.properties %}
/// {{ p.description | replace("\n", " ") }}
#[serde(rename="{{ p.name }}")]
pub {{ p.name | snake }}: {{ p.data_type }},
{% endfor %}
}
{% endfor %}

{% for enum in type_module.enums %}
#[derive(Debug, Clone, serde::Serialize, serde::Deserialize)]
pub enum {{ enum.name }} {
{% for item in enum.items %}
{{ item }},
{% endfor %}
}

{% endfor %}
